<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>{{screamIt 'ddsds'}} We will be right back</p>

        {{> footer}}
    </body>
</html>